<div class="w-full  p-2 custom-scroll-bar" >
    <div class="flex">
        <div class="w-full  md:w-2/12 py-2">
            <mat-label>Type de document</mat-label>
        </div>
        <div class="w-full md:w-10/12">
            <mat-form-field class="" appearance="outline">
      
                <mat-select [(ngModel)]="obj.type" 
               
                name="type">
                <mat-option *ngFor="let p of types" [value]="p.value">
                    {{p.label}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="flex">
        <div class="w-full  md:w-2/12 py-2">
            <mat-label>Utilisateur</mat-label>
        </div>
        <div class="w-full md:w-10/12">
            <mat-form-field  class="" appearance="outline">
                <input 
                  matInput 
                  style="padding: 0;"
                  name="nombre"
                  [(ngModel)]="obj.nombre"
                  placeholder="Ref."
                > 
            </mat-form-field>
        </div>
    </div>

    <div class="flex">
        <div class="w-full  md:w-2/12 py-2">
            <mat-label>Montant</mat-label>
        </div>
        <div class="w-full md:w-10/12">
            <mat-form-field  class="" appearance="outline">
                <input 
                  matInput 
                  style="padding: 0;"
                  name="nombre"
                  [(ngModel)]="obj.nombre"
                  placeholder="Ref."
                > 
            </mat-form-field>
        </div>
    </div>

    <div class="flex">
        <div class="w-full md:w-2/12 py-2">
            <mat-label>Agence</mat-label>
        </div>
        <div class="w-full md:w-10/12">
            <mat-form-field  class="" appearance="outline">
                <input 
                  matInput 
                  style="padding: 0;"
                  name="nombre"
                  [(ngModel)]="obj.nombre"
                  placeholder="Ref."
                > 
            </mat-form-field>
        </div>
    </div>
     
  </div>
