<div class="center bg-blueGray-900">
    <ng-image-slider 
        [images]="imageCollection" 
        [autoSlide]="1" 
        [infinite]="false" 
        [imageSize]="{width: '48%', height: '67%'}" 
        [imagePopup]="false" 
        #nav>

    </ng-image-slider>
</div>

<!--
<div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
      [imageSize]="{width: '50%', height: 400}" slideImage="1" [imagePopup]="false"></ng-image-slider>
  </div>
-->