<div class="row">
    <div class="col-md-12">
        <form  name="findForm" #findForm="ngForm" >
            <table style="width: 100%;" >
                <tr>
                    <td>
                        <mat-form-field  class="">
                            <mat-label>Code</mat-label>
                            <input 
                            matInput 
                            style="padding: 0;"
                            name="code"
                            [(ngModel)]="info.code"
                            required
                            > 
                          </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 98%;"  class="">
                            <mat-label>Libellé</mat-label>
                            <input 
                            matInput 
                            style="padding: 0;"
                            name="libelle"
                            [(ngModel)]="info.libelle"
                            required
                            > 
                          </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 98%;"  class="">
                            <mat-label>Valeur</mat-label>
                            <input 
                            matInput 
                            style="padding: 0;"
                            name="valeur"
                            [(ngModel)]="info.valeur"
                            required
                            > 
                          </mat-form-field>
                    </td>

                    <td>
                        <mat-checkbox class="example-margin" 
                        [(ngModel)]="info.actif"
                        name="actif"
                        >Actif</mat-checkbox>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" style="text-align: right;" >
                        <button 
                        class="btn btn-info afb-btn-info" (click)="save()" >
                            Sauvegarder
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>