<!--<app-configurations></app-configurations>-->
<!--<div class="w-full flex justify-center">
    <div class="w-full lg:w-9/12 px-4">
        <div>-->
            
<div class="row" style="margin-top: 2%;" >
    <div class="col-md-12" style="font-size: 13px !important" >
        <p-table [value]="datas" styleClass="p-datatable-striped" 
        [paginator]="true" [rows]="5"
        >
            <ng-template pTemplate="caption"  >
                <div class="p-d-flex p-ai-center p-jc-between">
                    Liste des paramètres &nbsp;
                   
                    <button 
                    title="Précédent"
                     
                    (click)="openAddDialog()"
                    class="btn btn-info afb-btn-info" >
                        <i class="fa fa-plus"></i> &nbsp;
                        Ajouter
                    </button>
                
                    &nbsp;
                    
                </div>
            </ng-template>
        
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 15%;" >Code</th>
                    <th style="width: 20%;" >Libellé</th>
                    <th style="width: 30%;" >Valeur</th>
                    <th style="width: 10%;" >Actif</th>
                    <th style="width: 15%;">Action</th>
                </tr>
            </ng-template>
        
            <!-- -->
            <ng-template pTemplate="body" let-data>
                <tr>
                    <td>{{data.code}}</td>
                    <td class="break" >{{data.libelle}}</td>
                    <td class="break" >{{data.valeur}}</td>
                    <td> 
                        <span *ngIf="data.actif" style="color: green;" >
                            <i class="fa fa-check"></i>
                        </span>
                        <span *ngIf="!data.actif" style="color: red;" >
                            <i class="fa fa-times"></i>
                        </span>
                        
                    </td>
                    <td>
                        <button  (click)="edit(data)" 
                        class="btn" >
                            <i class="fa fa-eye"></i>
                        </button>
                        &nbsp;
                        <button  (click)="deleteOpe(data)" class="btn" >
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
           
        
         </p-table>
    </div>

</div>

<!--       </div>
     </div>
</div>
-->